# Versions
GRAFANA_VERSION=12.0.0
PROMETHEUS_VERSION=v2.42.0
CADVISOR_VERSION=v0.46.0
NODE_EXPORTER_VERSION=v1.5.0
ALERTMANAGER_VERSION=v0.25.0
REDIS_VERSION=6

# Secrets
GF_ADMIN_PASSWORD=ChangeMe123!
